body{
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top:100px;
}

p{
  color: #40514E;
  line-height: 2;
}

hr{
  color: #EAF6F6;
  width: 4%;
  border: 6px dotted;
  margin: 100px auto;
  border-bottom: none;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.bottom-container{
background-color: #66BFBF;
padding: 50px 0 20px;
}

.hot{
  color:#11999E;
}

 .skill-row{
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
line-height: 2;
}

.intro{
  width: 30%
  margin: auto;
}
.code-image{
  width: 25%;
  margin-right: 30px;
  float: left;
}
.chilli-image{
  margin-left: 30px;
  width: 25%;
  float: right;
}

/* this was demo of clear property to right side n left side  of image
.code-skill-description{
  clear: right;
}

.chilli-skill-description{
  clear: left;
}*/

h1{
  margin-top: 0 ;
  font-family: 'Sacramento', cursive;
  font-size: 50px;
  color: #66BFBF;
}

h2{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

h3{
    font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

.top-cloud{
position: absolute;
right: 300px;
top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
  }

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.BUTTON_KKL{
    margin: 30px 0 40px 0;
}

  .BUTTON_KKL {
     background: #3D94F6;
     background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
     background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
     background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
     background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
     background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     border-radius: 20px;
     color: #FFFFFF;
     font-family: Brush Script MT;
     font-size: 12px;
     font-weight: 300;
     padding: 14px;
     -webkit-box-shadow: 1px 1px 20px 0 #000000;
     -moz-box-shadow: 1px 1px 20px 0 #000000;
     box-shadow: 1px 1px 20px 0 #000000;
     text-shadow: 1px 1px 20px #000000;
     border: solid #337FED 1px;
     text-decoration: none;
     display: inline-block;
     cursor: pointer;
     text-align: center;
  }

  .BUTTON_KKL:hover {
     border: solid #30e3cb 1px;
     background: #1E62D0;
     background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
     background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
     background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
     background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
     background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     border-radius: 20px;
     text-decoration: none;
  }
.footer-link{
  color: #11999E;
  width: 600px;
}
.copy-right{
  color: #EAF6F6
  font-size: 0.75rem;
  padding: 20px 0;
}
